---
layout: default
title: Daffany Clark – Actor &amp; Producer
id: luxury
---

<img class="hero hidden-xs" src="images/hero-desktop.jpg" alt="">
<img class="hero visible-xs" src="images/hero-mobile.jpg" alt="">

<section id="biography">
  <div class="container">

    <div class="col-sm-6 bio">
      {% capture my_include %}{% include bio.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </div>

    <div class="col-sm-6 profile">
      <img src="images/profile-2.jpg" alt="Daffany Clark portrait">
    </div>

  </div>
</section>

<section id="media">
  <div class="alt-2">
    <div class="container pad">
      <div class="col-sm-6 videos">
        <h2>The Work</h2>
        {% for video in site.data.videos %}
        <iframe src="{{ video.url }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% endfor %}
      </div>
      <div class="col-sm-6 press">
        <h2>Press</h2>
          {% for image in site.data.press %}
            <a href="{{ image.url }}" class="col-xs-6 col-md-4"><img class="full-width" src="images/press/{{ image.src }}" alt="{{ image.title }}"></a>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

<div class="alt-1">
  <div class="container">
    <div class="pad projects">

      <section id="filmography">

        <h2>Filmography</h2>

        <img class="col-xs-12 pad" src="images/5150.png" alt="5150">

        <div class="clearfix"></div>

        {% for film in site.collection-filmography %}
        <div class="media-object card">
          <img class="media-object-figure" src="images/{{ film.image }}" alt="">
          <div class="media-object-body">
            <h3>{{ film.title }}</h3>
            <p>
              {{ film.content }}
            </p>
          </div>
        </div>
        {% endfor %}

      </section>

      <section id="team">

        <h2>The Team</h2>

        <div class="clearfix"></div>

        <div class="card-row">

          {% for member in site.data.team %}
          <div class="team-member card">
            <div class="team-member-info">
              <h3>{{ member.name }}</h3>
              <p>{{ member.role }}</p>
            </div>
            <img class="" src="images/{{ member.image }}" alt="">
            <ul class="third-party-links">
              {% for link in member.link %}
              <li><a href="{{ link.url }}"><img src="images/icons/{{ link.icon }}.svg" alt="" class="icon"></a></li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}

        </div>

      </section>

      <div class="clearfix"></div>

      <section id="giving-back">

        <h2>Giving Back</h2>

          {% for org in site.collection-giving %}
          <div class="media-object card">
            <img class="media-object-figure" src="images/{{ org.image }}" alt="">
            <div class="media-object-body">
              <h3>{{ org.title }}</h3>
              <p>
                {{ org.content }}
              </p>
              <ul class="third-party-links">
                {% for link in org.link %}
                <li><a href="{{ link.url }}"><img src="images/icons/{{ link.icon }}.svg" alt="" class="icon"></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}

      </section>

    </div>
  </div>
</div>
